body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #d40000;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

.container {
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: #f4f4f4;
  padding: 15px;
}

nav {
  text-decoration: none;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
  text-align: start;
}

a {
  text-decoration: none;
  color: #333;
  font-size: larger;
  margin-bottom: 30px;
}

a:hover {
  color: #5e5d5d;
  text-shadow: 0 0 2px rgb(255, 255, 255);
}

footer {
  text-align: center;
  font-size: small;
  padding: 7px 20px;
  background-color: #d40000;
  color: #fff;
}

.logo {
  height: 100px;
  width: 100px;
}

input[type=text] {
  text-decoration: underline;
}

button {
  padding: 10px 15px;
  background-color: #d40000;
  color: #ffffff;
  border-style: none;
  border-radius: 5px;
}


button:hover {
  background-color: #f30000;
  cursor: pointer;
}

form label,
form input,
form textarea,
form select,
form button {
  display: block;
  margin-bottom: 10px;
  margin-left: 30px;
}
